.header
  background-color: #2f3242
  padding: 15px
  display: flex
  justify-content: space-between
  align-items: center

.header__icons
  display: flex
  align-items: center
  margin-right: 30px
  justify-content: space-between

.header__user
  display: flex

