header.header
  .header__logo
    .logo
      a(href="/")
        img(src="../../images/logo.png", alt="")
  .header__user
    .header__icons
      a(href="/").user__buttons
        img(src="../../images/bell.png", alt="")
    .user
      .user__avatar
        img(src="../../images/avatar.jpg", alt="")
      .user__info
        .user__name Sheldon Cooper
        .user__role teacher
