
block content
  .page
    .page__item
      .filler
    .page__item.page__widget
      include ../../blocks/widget/block
  .page
    .page__item
      .filler
    .page__item.page__widget
      include ../../blocks/widget/block
    .page__item.page__widget
      include ../../blocks/widget/block
