
block content
  .page
    .page__item.page__item--statistic
      .filler
    .page__item.page__widget
      include ../../blocks/widget/block
    .page__item.page__item--report
      .filler
    .page__item.page__widget
      include ../../blocks/widget/block
    .page__item.page__widget
      include ../../blocks/widget/block

