.chat
  display: flex
  height: 100%

.chat__item
  flex-grow: 1

.chat__companion, .chat__converstions
   box-shadow: 0 3px 80px rgba(23, 24, 32, 0.3)
   background: #2b2d3c


.chat__converstions
  max-width: 450px
  background: #2b2d3b

.chat__main
  display: flex
  flex-direction: column
  padding: 30px 24px

.chat__messages
  display: flex
  flex-direction: column
  flex-grow: 1

.chat__message
  width: fit-content
  color: #ffffff

.chat__message--answer
  align-self: flex-end
  color: #ffffff
  flex-direction: row-reverse
  .chat__message-text
    background-color: #2196f3

.chat__message-content
  display: flex
  align-items: flex-end
  margin-bottom: 10px

.chat__message-date
  padding-left: 70px
  color: #9ca1b2
  font-family: Montserrat
  font-size: 14px
  font-weight: 400
  letter-spacing: 0.42px

.chat__message-text
  max-width: 460px
  padding: 20px
  border-radius: 10px
  background-color: #404359

.chat__companion
  max-width: 280px

  .user
    flex-direction: column
    text-align: center

  .user__avatar
    width: 124px
    height: 124px
    margin-right: 0
    margin-bottom: 39px

  .user__info
    font-size: 22px
    font-weight: 700
    letter-spacing: 0.44px

.chat__comanion-info-item
  display: flex
  flex-direction: column
  align-items: center

.chat__input
  width: 100%
  padding: 0 18px
  height: 51px
  border-radius: 10px
  color: #9ca1b2
  font-family: Montserrat
  font-size: 16px
  font-weight: 400
  line-height: 28px
  letter-spacing: 0.32px
  border: 1px solid rgba(156, 161, 178, 0.3)
  background-color: #404359


.conversation
  display: flex
  justify-content: space-between
  align-items: center
  padding: 41px
  box-shadow: 0 3px 80px rgba(23, 24, 32, 0.3)

  &--active
    background: #2f3242

  &:not(:last-child)
    border-bottom: 1px solid #9ca1b2



.conversation__last-message-date
  color: #2196f3
