block content
    .chat
      .chat__item.chat__converstions
        .conversation
      .chat__item.chat__main
        .chat__messages
          .chat__message
            .avatar
            .chat__message-content
              .chat__message-text
                |Ut enim ad minim veniam, quis nostrud exercitation
                |ullamco laboris nisi ut aliquip ulla pariatur.
              .chat__message-date 4 April 2016, 5:32 PM
        input(type="text" placeholder='Введите сообщение').chat__input
      .chat__item.chat__companion
        include ../../blocks/user/block
