.widget
    .widget__title Рассписание на сегодня
    .widget__content
      .widget__content-item
        .subject
          .subject__item
            span.subject__name Математика
            span.subject__info 210а 15:45
      .widget__content-item
        .subject
          .subject__item
            span.subject__name Математика
            span.subject__info 210а 15:45
      .widget__content-item
        .subject
          .subject__item
            span.subject__name Математика
            span.subject__info 210а 15:45
