.widget
    .widject__title Следующий урок
    .widjet__content
      .subject
        .subject__name
          span Предмет:
          span Математика
        .subject__teacher
          span Учитель:
          span Марья Петровна
        .subject__location
          span Кабинет:
          span 210a
        .subject__location
          span Начало через:
          span 15мин

