extends /layout/app

block content
  .container
    //- .container__item
    //-   include ../../blocks/select/block
    //- .container__item
    //-   include ../../blocks/button/block
    .container__item
      include ../../blocks/widget/block
    .container__item
      include ../../blocks/aside/block
    .container__item
      include ../../blocks/list-block/block
