extends /layout/app

block content
  .container
    | CONTENT
    .container__item
      include ../../blocks/select/block
    .container__item
      include ../../blocks/button/block
    .container__item
      include ../../blocks/widget/block
