.container
  display: flex
  flex-grow: 1
  padding: 10px

.container__item
  &:not(:last-child)
    margin-bottom: 20px

.page
  display: flex
  flex-grow: 1
  height: fit-content

.page__item
  flex-grow: 1

.page__widget
  max-width: 475px
  padding-left: 25px

.filler
  width: 100%
  height: 100%
  background-color: #2f3242
