aside.aside
  nav.nav
    ul.nav__inner
      li.nav__item
        a(href='#')
          img(src="../../images/home.svg", alt="home")
      li.nav__item
        a(href='#')
          img(src="../../images/mail.svg", alt="mail")
