.select-box
  .options-container
    .option
      input#automobiles.radio(type='radio' name='category')
      label(for='automobiles') Teacher
    .option
      input#film.radio(type='radio' name='category')
      label(for='film') Parent
    .option
      input#tutorials.radio(type='radio' name='category')
      label(for='tutorials') Teacher
  .selected
    | Select User Role
