.list-block
  .list-block__item
      .user
        .user__avatar
          img(src="../../images/avatar.jpg", alt="")
        .user__info
          .user__name Sheldon Cooper
          .user__role teacher
  //- .list-block__item
  .list-block__item
    .progress
      span.progress-bar__percent 70%
      .progress__bar
        .progress__line

  //- .list-block__item
  //- .list-block__item
  //- .list-block__item
