
block content
  .page
    .container__item
      include ../../blocks/list-block/block
    .container__item
      include ../../blocks/list-block/block
    .container__item
      include ../../blocks/list-block/block
    .container__item
      include ../../blocks/list-block/block
    .container__item
      include ../../blocks/list-block/block

